body {
  font-family: 'Raleway', arial, sans-serif;
  font-style: 800;
  background-image: linear-gradient(to left, #ff0000, #ff1199, #cd7efe, #4cb5ff, #00d3ff);
  color: #ffffff;
  text-align: center;
}

input {
  height: 50px;
  margin: 10px;
  text-align: center;
}

input[type=submit], input[type=button] {
  width: 100px;
  background-color: #4E1B75;
  font-size: 1.25em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #9F37EE;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: #bdc3c7;
}